<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>

    <h2>Welcome <%= user.userName %></body></html>h2>
       <p><%= new Date();%></p> 

    
      </header>
      <section class="search"> 
          <input id="search" type="search" placeholder="Search definition">
      </section>
      
      <!-- <section class="cards">
          <% for(let i=0; i < definition.length; i++) { %>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front"><img src=<%=definition[i].image %> alt="" ></div>
                  <div class="card-back">
                      <h2><%=definition[i].name%></h2>
                      <ul>
                          <li><strong>Word:</strong> <%=definition[i].occupation[0] %></li>
                          <li><strong>Say Definition:</strong> <%=definition[i].status %></li>
                        
                          <li><p><%= definition[i].about %></p></li>
                          <%}%>
                      </ul>
                  </div>
              </div>
          </div>
          <%}%>
 -->





          
      <!-- </section> -->

<!--       
    //     <li>
    //       <a href="" class="card">
    //         <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
    //         <div class="card__overlay">        
    //           <div class="card__header">
    //             <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
    //             <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
    //             <div class="card__header-text">
    //               <h3 class="card__title">kim Cattrall</h3>
    //               <span class="card__status">3 hours ago</span>
    //             </div>
    //           </div>
    //           <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
    //         </div>
    //       </a>
    //     </li>
    //     <li>
    //       <a href="" class="card">
    //         <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
    //         <div class="card__overlay">
    //           <div class="card__header">
    //             <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
    //             <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
    //             <div class="card__header-text">
    //               <h3 class="card__title">Jessica Parker</h3>
    //               <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>            
    //               <span class="card__status">1 hour ago</span>
    //             </div>
    //           </div>
    //           <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
    //         </div>
    //       </a>
    //     </li>
    //     <li>
    //       <a href="" class="card">
    //         <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
    //         <div class="card__overlay">
    //           <div class="card__header">
    //             <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
    //             <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
    //             <div class="card__header-text">
    //               <h3 class="card__title">kim Cattrall</h3>
    //               <span class="card__status">3 hours ago</span>
    //             </div>          
    //           </div>
    //           <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
    //         </div>
    //       </a>
    //     </li>  
    //  %>
     // </ul> -->

    <button href="/logout">Logout</button>

    <script src="js/main.js"></script>
</body>
</html>